<div data-ng-controller="SettingsCtrl as vmSettings">


    <div>
        <h3>{{vmSettings.testHalloWelt}}</h3>
    </div>

    <div class="loadSaveFile">
        <ul>
            <button class="btn btn-success" data-ng-click="vmSettings.readFile()">Load Data</button>
            <button class="btn btn-success" data-ng-click="vmSettings.writeLinksFile()">Save Data</button>
        </ul>
    </div>

    <div class="addGroup">
        <input data-ng-model="vmSettings.insertGroup.name" placeholder="Set new group name"
               class="input-sm form-control" type="text"/>
        <button class="btn btn-success" data-ng-click="vmSettings.addGroup()">Add Group</button>
    </div>

    <div class="addElement">
        <select data-ng-options="group.groupname for group in vmSettings.rowCollection" data-ng-show=""
                data-ng-model="vmSettings.selectedIndex"></select>
        <input data-ng-model="vmSettings.insert.name" placeholder="Set Name" class="input-sm form-control" type="text"/>
        <input data-ng-model="vmSettings.insert.tag" placeholder="Set Tags" class="input-sm form-control" type="text"/>
        <input data-ng-model="vmSettings.insert.link" placeholder="Set Link" class="input-sm form-control" type="text"/>
        <button class="btn btn-success" data-ng-click="vmSettings.addLink()">Add Link</button>
    </div>

    <div class="row">
        <div data-ng-repeat="group in vmSettings.rowCollection">

            <table ng-class="['linkTable-' + $index]" st-table="rowCollection" class="table table-striped">
                <thead class="tableTitle">
                <tr>
                <th st-sort="name">{{group.groupname}}</th>
                </tr>
                <tr>
                    <th st-sort="name">name</th>
                    <th st-sort="link">link</th>
                    <th st-sort="tag">tag</th>
                    <td>
                        <button class="btn btn-danger" ng-click="vmSettings.removeGroup($index)">-</button>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="row in group.grouplinks">
                    <td>{{row.name}}</td>
                    <td>{{row.link}}</td>
                    <td>{{row.tag}}</td>
                    <td>
                        <button class="btn btn-danger"
                                ng-click="vmSettings.removeLink(vmSettings.rowCollection.indexOf(group),$index)">-
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
