/* app css stylesheet */


body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  padding: 10px !important;
  overflow-y:scroll;
  height: 500px;
}

#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}

.fulgurator-title {
  font-size: medium;
  margin-bottom: 20px;
  background-color: #343132;
  box-shadow: 0.5em 0 0 #343132,-0.5em 0 0 #343132;

}

.searchfield {
  margin-bottom: 10px;
}

.tableTitle {
  color: #FFFFFF;
  background-color: #FF0000;
}




